{% extends "base.html" %}


{% block content %}
<div class="containerofvideocapture">
               
    <form method="post" action="{{ url_for('tasks') }}">
        <input id="cameraswitch" type="submit" value="Stop/Start" name="stop" class="btn btn-primary btn-lg" />
        <!-- <input type="submit" value="Capture" name="click" class="click"/> -->
    </form>

    <div id="newcontainer">

        <video autoplay="true" id="videoElement"  width="700" height="500" hidden></video>
        <canvas id="canvasOutput"></canvas> 

    </div>
    <div class = 'video'>
        <img id="processed-image">
    </div>
<!--     


  <div class = "detected_pose">
        Pose Detected : {{pose}}   
    </div> -->

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static',filename='js/opencv.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script>
    var socket = io('', { autoConnect: false });
    var cameraswitch=0;
    const startstop=document.getElementById("cameraswitch");
    const video = document.querySelector("#videoElement");
    var canvas = document.getElementById("canvasOutput");
    const ctx = canvas.getContext("2d");
    const switchbutton = document.querySelector('input[type="submit"]');

    var detection_message="";

    socket.on('connect', function(){
        console.log("Connected...!", socket.connected)
    });
    socket.on('disconnect',function(){
        console.log("Websocket connection closed!!");
    });

    socket.on('message',function(data){
        console.log("Prediction: "+data);
        detection_message=data;
        ctx.font = "40px Arial";
        ctx.fillStyle = "black";
    
        ctx.fillText(detection_message,canvas.width/5, canvas.height/2);
    });
    var session_data=""
    $.ajax({
        url: '/get_session_data',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          session_data = JSON.stringify(data);
        }
      });                                                                                                                                                                                                                               



   
    let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    let cap = new cv.VideoCapture(video);

    const FPS = 60;


    var fetchPrediction = function(){
        $.ajax({
            url:"/detection_ajax",
            type:"POST",
            data: JSON.stringify(data),
            dataType: "json",
            success: function(resp){
                console.log(resp.prediction); 
                setTimeout(function(){
                    fetchVariables()
                },1000);
            },
            error: function(resp){                                                                          
                console.log(resp.error);
                setTimeout(function(){                                                                                      
                    fetchVariables()
                },1000);
            }
        });
    }
    firsttime=1;
    switchbutton.addEventListener('click',function(event){
        event.preventDefault();

    if(!cameraswitch)
    {
        socket.connect('', { transports: ['websocket','polling'] });
        cameraswitch=1;
        startstop.value="Stop";
        console.log("In turn on mode!!")
        canvas.style.display='block'
     if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function (error) {
            console.log(error)
            console.log("Not able to access webcam[dev console]");
        });
    }

    var i = 1;
    if(firsttime)
    setInterval(() => {
        cap.read(src);
        
        var type = "image/jpeg"
        canvas.width=video.videoWidth;
        canvas.height=video.videoHeight;
  
        ctx.drawImage(video,0,0);
        
        ctx.font = "40px Arial";
        ctx.fillStyle = "black";    
        
        var dataURI = document.getElementById("canvasOutput").toDataURL(type);
        var base64Data = dataURI.split(',')[1];
        var binaryData = Uint8Array.from(atob(base64Data), c => c.charCodeAt(0));

        ctx.fillText(detection_message,canvas.width/5, canvas.height/2);

       if(i%60 == 0 && cameraswitch) 
        {
            var blob = new Blob([binaryData], { type: 'image/jpeg' });

            //data1 = data1.replace('data:' + type + ';base64,', ''); //split off junk 
    
            //console.log(data1)
            console.log(blob)
    
            var data={
                image_data: blob,
                session_data: session_data
            };
         socket.emit('detection', data);
         i=1;
        }
        i=i+1;
        firsttime=0;
    }, 1000/FPS);

}
else {
    console.log("In turn off mode")
    canvas.style.display='none';
    video.srcObject=null;
    cameraswitch=0;
    startstop.value="Start"
}
});

    socket.on('response_back', function(image){
        console.log(image)
        const image_id = document.getElementById('processed-image');
        image_id.src = image;
    });

</script>
{% endblock %}
