{% extends "base.html" %}

{% block content %}
<div class="uploadform">
    <h1>Upload Image</h1>
   <form method=post enctype=multipart/form-data>
  <input type=file name=file class="file">
  <input type=submit value=Upload class="submit">
  </form>
  <img src="{{ uploaded_image }}" class = "imgcontainer" >
  {% if pose_prediction : %}
  <h1>Yoga Pose detected : {{pose_prediction}}</h1>
  {% endif %}
 </div>
 <!-- <div class="uploadform">
    <h1>Upload video</h1>
    <form action="/uploadvideo" method=post enctype=multipart/form-data>
   <input type=file name=file class="file">
   <input type=submit value=Upload class="submit">
   </form>
 </div> -->
{% endblock %}