<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% block head %} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yoga mentor</title>
    <!-- {% block styles %} -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <!-- {% endblock %} -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <!-- {% endblock %} -->
</head>

<body>
    <div class="containerofimage">
        <nav>
            <div class="title">YOGA MENTOR</div>
           
            <div class="navbuttons">
                <div class="home"><a href="{{ url_for('hello')}}">HOME</a></div>
                <div class="aboutus"><a href="{{ url_for('aboutus') }}">ABOUT US</a></div>
                <div class="contactus"><a href="{{ url_for('contactus') }}">CONTACT US</a></div>
            </div>
         
        </nav> 
      
    <div class="uploadform">
        <h1>Upload Image</h1>
       <form method=post enctype=multipart/form-data> 
      <input type=file name=file class="file">
      <input type=submit value=Upload class="submit">
      </form>
      
      
      <button class="detectposebutton" id = "{{uploaded_image[0]['idname']}}" >Detect Yoga Pose</button>
      <img src="{{ uploaded_image[0]['full_filename'] }}" class = "imgcontainer" >

     </div>
        <footer>
            <p>© 2022 | All Rights Reserved </p>
        </footer>
    </div>
    <script src="../../static/scripts/scripts.js"></script>

</body>

</html>