{% extends "base.html" %}

{% block content %}
<div class="containerofvideocapture">

    <form method="post" action="{{ url_for('yogacorrectionform') }}">
        <label for="lang">Select a pose:</label>
        <select name="yogaposes_dropdown" id="lang" onchange="this.form.submit()">
        <option value="" selected disabled hidden>{{selected}}</option>
        <option value="chair">Chair</option>
        <option value="cobra">Cobra</option>
        <option value="dog">Dog</option>
        <option value="tree">Tree</option>
        <option value="warrior">Warrior</option>
        </select>
        <input type="submit" value="Stop/Start" name="stop" class="stop"/>
        <input type="submit" value="Capture" name="click" class="click"/>
    </form>
    <div class="imgcontainer">
        <img src="{{ url_for('video_feed') }}" onerror='this.style.display = "none"'>
    </div>

    <div class = "detected_pose">
        <!-- Pose Detected : {{pose}}    -->
    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/liveyogacorrectionscript.js')}}"></script>
{% endblock %}

