<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yoga mentor</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        {% endblock %}
</head>
<body>
    {% block bodycontent %}
    
    {% block navbar %}
    <nav>
        <div class="title">YOGA MENTOR</div>
        <!-- {% block navitems %} {% endblock %} -->
        <div class="navbuttons">
            <div class="home"><a href="{{ url_for('hello')}}">HOME</a></div>
            <div class="aboutus"><a href="{{ url_for('aboutus') }}">ABOUT US</a></div>
            <div class="contactus"><a href="{{ url_for('contactus') }}">CONTACT US</a></div>
            <div class="logout"><a href="{{ url_for('logout') }}">LOG OUT</a></div>
        </div>
     
    </nav>
    {% endblock %}

    {% block content %}{% endblock %}
    <footer>
        {% block footer %}
        <p>© 2022 | All Rights Reserved </p>
        {% endblock %}

    </footer>
    {% endblock %}
</body>
</html>
    