{% extends "base.html" %} 

{% block bodycontent %} 

<body>

    <nav>
        <div class="title">YOGA MENTOR</div>
        
        <!-- <div class= "title">{{name}}</div> -->
       
        <div class="navbuttons">
            <div class="home"><a href="{{ url_for('hello')}}">Home</a></div>
            <div class="aboutus"><a href="{{ url_for('aboutus') }}">About us</a></div>
            <div class="contactus"><a href="{{ url_for('contactus') }}">Contact us</a></div>
            
        </div>
    
        <div class="usernameonnav">
            <p>{{name}}</p>
            
        </div>
        <div class="logout"><a href="{{ url_for('logout') }}">Log out</a></div>
     
    </nav>
    <div class="container">
    <main>
        <div class="el el1">
            <div class="spacefortext">
                
                <p>LIVE MONITORING OF YOGA POSTURE USING INTEGRATED AI WHICH GIVES INSTRUCTIONS FOR YOU TO PERFORM YOGASANA MORE EFFECTIVELY! </p>
               
                <button type="button" onclick="window.location.href=`{{ url_for('capture_pose') }}`;">> Explore Now!</button>
            </div>
            <div class="imagecontainer">
                <h3>Live yoga detection</h3>
            </div>
        </div>
        <div class="el el2">
            <div class="spacefortext">
            
            <p>PREDICTS THE CORRECT YOGA POSE FROM THE VIDEO UPLOADED BY THE USER!
                </p>
         <button type="button" onclick="window.location.href=`{{ url_for('detection') }}`;">> Explore Now!</button>
           </div>
           <div class="imagecontainer">
            <h3>Yoga detection from image</h3>
           </div>


        </div>
        <div class="el el3">
            <div class="spacefortext">
            
            <p>DETECTION OF CHRONIC DISEASES FROM THE SYMPTOMS PROVIDED BY THE USER!
                </p>
                <button type="button" onclick="window.location.href=`{{ url_for('chronic') }}`;">> Explore Now!</button>
            </div>
            <div class="imagecontainer">
                <h3>Chronic Disease Detection</h3>
            </div>
        </div>


        <div class="el el4">
            <div class="spacefortext">
            
            <p>RECOMMENDS YOGA BASED ON USER'S SPECIFIC NEEDS!
                </p>
                <button type="button" onclick="window.location.href=`{{ url_for('benefits') }}`;">> Explore Now!</button>
            </div>
            <div class="imagecontainer">
                <h3>Yoga Rec from Benefits</h3>
            </div>

        </div>
        <div class="el el5">
            <div class="spacefortext">
           
            <p>PROVIDES LIVE CORRECTION INSTRUCTIONS
               </p>
               <button type="button" onclick="window.location.href=`{{ url_for('yogacorrectionform') }}`;">> Explore Now!</button>
               </div>
        <div class="imagecontainer">
            <h3>Live Yoga Correction</h3>
        </div>
        </div>


    </main>

    <!-- <aside>
        <p>Latest News</p>
    </aside> -->

    



</div>
{% endblock %}

</body>
