<!DOCTYPE html>
<html lang="en">

<head>
    <!-- {% block head %} -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yoga mentor</title>
    <!-- {% block styles %} -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <!-- {% endblock %} -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        <!-- {% endblock %} -->
</head>

<body>
    <div class="container">
        <nav>
            <div class="title">YOGA MENTOR</div>
            <div class= "title">{{name}}</div>
           
            <div class="navbuttons">
                <div class="home"><a href="{{ url_for('protected_area')}}">HOME</a></div>
                <div class="aboutus"><a href="{{ url_for('aboutus') }}">ABOUT US</a></div>
                <div class="contactus"><a href="{{ url_for('contactus') }}">CONTACT US</a></div>
                <div class="logout"><a href="{{ url_for('logout') }}">LOG OUT</a></div>
            </div>
         
        </nav>
        {% block content %}
        <main>
            <div class="el el1">
                <h3>Yoga Posture Correction</h3>
                <p>LIVE MONITORING OF YOGA POSTURE USING INTEGRATED AI WHICH GIVES INSTRUCTIONS FOR YOU TO PERFORM YOGASANA MORE EFFECTIVELY! </p>
                   
                <button type="button" onclick="window.location.href=`{{ url_for('capture_pose') }}`;">Explore Now!</button>
            </div>
            <div class="el el2">
                <h3>Yoga posture detection</h3>
                <p>PREDICTS THE CORRECT YOGA POSE FROM THE VIDEO UPLOADED BY THE USER!
                    </p>
             <button type="button" onclick="window.location.href=`{{ url_for('detection') }}`;">Explore Now!</button>


            </div>
            <div class="el el3">
                <h3>Chronic Disease Detection</h3>
                <p>DETECTION OF CHRONIC DISEASES FROM THE SYMPTOMS PROVIDED BY THE USER!
                    </p>
                    <button type="button" onclick="window.location.href=`{{ url_for('chronic') }}`;">Explore Now!</button>
            </div>
            <div class="el el4">
                <h3>Yoga Recommendation from Benefits</h3>
                <p>RECOMMENDS YOGA BASED ON USER'S SPECIFIC NEEDS!
                    </p>
                    <button type="button" onclick="window.location.href=`{{ url_for('benefits') }}`;">Explore Now!</button>


            </div>
            <div class="el el5">
                <h3>Yoga Recommendation for Chronic Diseases</h3>
                <p>RECOMMENDS YOGA FOR PREVENTING CHRONIC DISEASES!
                   </p>
                   <button type="button" onclick="window.location.href=`{{ url_for('preventionchronic') }}`;">Explore Now!</button>
            </div>


        </main>
       
        <aside>
            <p>Latest News</p>
        </aside>
        {% endblock %}
        <footer>
            <p>© 2022 | All Rights Reserved </p>


        </footer>
    </div>

</body>

</html>