.authentication-page{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.container{
    box-shadow: 5px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vh;
    /* background: gray; */
    margin: 10px;
    border-style:groove;
    border-radius: 15px 50px 30px 5px;
    border-width: 5px;
    position:relative;
    box-shadow: 5px;
    
}

.formcontainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 10px;
    
}
.authentication{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    justify-content: center;
}
.submit{
background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 10px;
}
.submit:hover{
    background-color: white;
    color: black;
    border-style:  groove;
    border-color: black;
}
#loginbutton{
    margin-bottom: 30px  ;
    margin-top: 60px;
    
}

#google-login{
   background-color: #D3D3D3; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center;
  border-radius: 20px;
  /* margin-top:30px;   */
}
#google-login:hover{
    background-color: white;
    color:black;
    border-style: dashed;
}
.mail_field{
    padding: 6px;
    border-radius: 5px;
}
.password{
    padding: 6px;
    border-radius: 5px;
}
.confirm_password{
    padding: 6px;
    border-radius: 5px;
}
