.authentication-page{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-content: center;
    justify-content: center;
    
}
html *{

}

.container{
    box-shadow: 5px;
    display: flex;
    flex-direction: column;
    height: 67vh;
    width: 40vh;
    /* background: gray; */
    margin: 10px;
    border-style:groove;
    border-radius: 15px 50px 30px 5px;
    border-width: 5px;
    position:relative;
    box-shadow: 5px;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );    

    
}

.formcontainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 10px;
    
}
.authentication{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    justify-content: center;
}
.submit{
background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    
}
.submit:hover{
    background-color: white;
    color: black;
    border-style:  groove;
    border-color: black;
}
#loginbutton{
    margin-bottom: 30px  ;
    margin-top: 60px;
    
}

#google-login{
   background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center;
  border-radius: 20px;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  /* margin-top:30px;   */
}
#google-login:hover{
    background-color: white;
    color:black;
    border-style: dashed;
}
.mail_field{
    padding: 6px;
    border-radius: 5px;
}
.password{
    padding: 6px;
    border-radius: 5px;
}
.confirm_password{
    padding: 6px;
    border-radius: 5px;
}
