*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-family: 'Inter', sans-serif;
}


.title{
    font-weight: bold;
    font-size: 1.4rem;
 
    flex-basis: 13%;
    margin-right:50px;
    margin-bottom:0px;
}

body{
    background-color: #091529;
}


.container{
    width:75%;
    background-color: #091529;
    margin-left:auto;
    margin-right:auto;
    /* display:grid; */
    /* grid-template-columns: 1fr 300px; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjEQHJIeYhztofzxL-8paMhvYBd0Ww9BSigDEyahTNFONeiU7hY5Fwg1RYXZvsBsIfENs&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    height: 100vh;
    padding-top:66px;
    
    align-items: start;
    margin-bottom:222px;
   
}

nav{
    display:flex;
    justify-content: center;
    height: 10.3vh;
    align-items: center;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbuttons{
    width:54%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
    font-size: 15px;
    letter-spacing: 1.1px;
    flex-basis:50%;
    margin-left:200px;
    
}

.navbuttons div{
    margin-left:-200px;
    
}
 main{
    background-color: #091529;
} 


aside{
    background-color: brown;
}

nav{
    grid-column: 1/span 2;
    background-color: #091529;
}
footer{
    /* grid-column: 1/span 2; */
    text-align: center;
    background-color:grey;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    color:white;
    height:4vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}
.navbuttons a,.logout a{
    text-decoration: none;
    color: white;
    height:100%;
    transition: all 0.3s ease-in-out;

}
#canvasOutput{
    width: 700px;
    height: 500px;
    display:none
}
/* .navbuttons a:hover{
    background: white;
    color:black;
    transform: scale(1.8);
}

.navbuttons .logout a:hover{
    background: black;
    color:white;
    transform: scale(1.1);
} */

main{
    background-image: url("../Assets/pexels-min-an-749114.jpg");
    background-size:cover;
    display:grid;
    grid-template-rows: repeat(5, 288px);
    
    justify-content: center;
    align-content: center;
    row-gap: 40px;
    margin-top:40px;
    margin-bottom:40px;
    
}




.el{
    border-radius: 10px;
    display: flex;
    background-color: #1d2a4a;
    /* display: flex; */
    flex-direction: row;
    align-items:center;
    /* justify-content:space-between; */
    /* height: 270px; */
    
   
}



.spacefortext {
  flex-basis: 55%;
  /* background-color: #cc1f1f; */
  
}

.spacefortext p{
    
}
.imagecontainer{
    flex-basis: 45%;
    background-color: #c2cecc;
    height: 100%;
    width: auto;
    
    
   
}






.el h3{
    text-transform: uppercase;
    
    /* background-color: chartreuse; */
   
    /* letter-spacing: 0.15rem; */
    text-align: center;
    font-weight: 600;
    padding-top:13px;
    padding-bottom :13px;
    font-size: 3rem;
    line-height: 4rem;
    white-space: pre-wrap;
    text-align: left;
    margin-left:60px;
    display: flex;
    align-items: center;
    font-family: cursive;
    
}
.el button{
    background-color: orange;
   
    cursor: pointer;
    margin-bottom:25px;
    width:35%;
    font-size:1rem;
    letter-spacing: 1.8px;
    font-weight:800;
    
    background: none;
    border: none;
   
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-left:15px;
    color: #60f1e3;
  
   
}
.el p{
    align-self: center;
   margin-left: 40px;
   
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: 0.1rem;
   color: #fefeff;
   font-weight: bold;
   margin-bottom:70px;
   margin-right:44px;
}
/* .el1 button{
    width:75%;
    font-size: 1rem;
    letter-spacing: 3px;
   
} */

/* .el1 h3{
    font-size: 1.6rem;
    font-weight: 800;
    


} */
/* .el1 p{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    width:81%;
} */
aside p{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.6px;
}

.title{
    color: #fefeff;
}

.containerofvideocapture{
    width:100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    height:712px;
    margin-top: 70px;
    background-color: rgb(159, 233, 233);

    
}

.imgcontainer{
    height:650px;

}

/* .imgid{
    display:block;
    height:650px;
} */

img{
    height:100%;
}

.uploadform{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 95px;
   gap:30px;
  
}

.uploadform h1, .poseprediction{
   color: #c2cecc;
}

.containerofimage{

    background-color:rgb(150, 230, 230);
    
}

.file,.submit{

    padding:10px;
    border-radius:3px;
    background-color: burlywood;

}

.file{
    background-color:coral;
}

.stop,.click{
    padding:12px;
    background-color: bisque;
    border-radius: 3px;
    font-weight: 600;
    margin-top: 50px;
}

.detectposebutton{
    opacity: 0;
}

#detectbutton{
    opacity: 1;
}

.showrecommendation{
    display: none;
}

#showrec{
    display: block;
}

.flexcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
    margin-top: 95px;
    
    width:600px;
    height:650px;
    margin-left:auto;
    margin-right:auto;
    border-radius:15px;
    background-color: #1d2a4a;
    
}

.flexcontainer h1{
    color:#60f1e3;
    margin-bottom:10px;

    
}
.flexcontainer input{

    border:none;
    background-color:white;
    width: 45%;
    height:30px;
}

.flexcontainer label{
    color: #60f1e3;
    text-transform: uppercase;
}
.subofchr{
    width: 120px;
    height: 45px;
    background-color: #60f1e3;
    border-radius: 2px;
    color:#091529;
    border:none;
    cursor : pointer;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:1.5rem;
    width:170px;
    letter-spacing: 2px;
    margin-top:11px;
    border-radius:7px;

}

.showrecommendation{

    width: 300px;
    height: 75px;
    background-color: blue;
    border-radius: 2px solid grey;
    color:white;
}

.containerofchronic{

    background-color: #091529;
    padding-top:7px;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background-color: #5ad679;
/* border: 1px solid #888; */
width: 450px;
height: 500px;
border-radius: 5px;
transition: display 2s ease-in-out;

}

.modal.show {
display:block;
}

.modal-content {
display: flex;
align-items: center;
justify-content: flex-start;
height: 100%;
flex-direction: column;

}

.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.9);
display: none;
}

.titleyogarec{

font-size:1.8rem;
margin-top:50px;
font-style: italic;

}
.recyoga{
font-size:2.8rem;
margin:10px;
text-align: center;
font-weight:bolder;
text-transform: uppercase;
letter-spacing:1px;
}

.usernameonnav{

color:#c2cecc;
text-transform: uppercase;
font-weight: bolder;

}

.logout{
background-color: #279b6a;
padding:9px;
width:85px;
text-align: center;
border-radius:9px;
margin-left:20px;
}

.usernameonnav p{
    margin:auto;
}