*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-family: 'Inter', sans-serif;
}

.title{
    font-weight: bold;
    font-size: 1.4rem;
    margin-left:15px;
}


.container{
    width:99.5%;
    background-color: aqua;
    margin-left:auto;
    margin-right:auto;
    display:grid;
	grid-template-columns: 1fr 300px;

	
	align-items: start;
   
}

nav{
    display:flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
}

.navbuttons{
    width:54%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 800;
    letter-spacing: 1.1px;
}
main{
    background-color: red;
}


aside{
    background-color: brown;
}

nav{
    grid-column: 1/span 2;
    background-color: blue;
}
footer{
    grid-column: 1/span 2;
    text-align: center;
    background-color:grey;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    color:white;
    height:4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbuttons a{
    text-decoration: none;
    color: white;
}

main{
    background-image: url("../Assets/pexels-min-an-749114.jpg");
    background-size:cover;
    display:grid;
    height: 1200px;
    grid-template-rows: 26% 25% 25%;
    grid-template-columns: 33% 33%;
    justify-content: center;
    align-content: center;
    row-gap: 80px;
    column-gap:75px;
}




.el{
    border: 2px solid black;
   
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    
   
}
.el h3{
    text-transform: uppercase;
    
    background-color: chartreuse;
    width:100%;
    letter-spacing: 0.15rem;
    text-align: center;
    font-weight: 600;
    padding-top:13px;
    padding-bottom :13px;
    font-size: 1rem;
    line-height: 1.6rem;
    
}
.el button{
    background-color: orange;
    padding:7px;
    cursor: pointer;
    margin-bottom:25px;
    width:47%;
    font-size:0.9rem;
    letter-spacing: 1.8px;
    font-weight:800;
    border-radius: 5px;
   
}
.el p{
    align-self: center;
   margin-left: 3px;
   width:80%;
   font-size: 0.8rem;
   line-height: 1.5rem;
   letter-spacing: 0.1rem;
}
.el1 button{
    width:75%;
    font-size: 1rem;
    letter-spacing: 3px;
   
}
.el1{
    grid-column: 1/span 2;
    
    margin-top: 10px;
}
.el1 h3{
    font-size: 1.6rem;
    font-weight: 800;
    


}
.el1 p{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    width:81%;
}
aside p{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.6px;
}



.containerofvideocapture{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height:712px;
   
    background-color: teal;

    
}

.imgcontainer{
    height:650px;
}

img{
    height:100%;
}