<!DOCTYPE html>
<html>
<title>signup</title>
<!-- <link rel="stylesheet" href="../../static/styles/sign.css"> -->
<link rel="stylesheet" href="{{ url_for('static',filename='styles/sign.css') }}">
<body>

<div class = "authentication">
<div class="authentication-page">

  <div class="container">
  <form name="signup_form" class = "formcontainer">
 
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" class="password"  placeholder="Enter Password" name="psw" required >

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" class="confirm_password"  placeholder="Repeat Password" name="psw-repeat" required >
      
  
       
<button type="submit" class = "submit">Sign In</button>


  </form>
</div>
<div class="container">
  <form name="login-form" class = "formcontainer" action="/login">
 
    <h1>Log In</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" class="password"  placeholder="Enter Password" name="psw" required >

    

     
      <button type="submit" class="submit" id="loginbutton">Log In</button>
    
</form>
  <a href="{{url_for('login')}}" id="google-login">Sign in with google</a>
</div>
  

</div>

<div class="authentication"></div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>